In [1]:
import numpy as np
import pandas as pd

area = [19,30,39,52,65,79,92,108]
## price = [280 ,485  ,615  ,670  ,865  ,1080 ,1260 ,1645 ][::-1]
price = [280 ,485  ,615  ,670  ,865  ,1080 ,1260 ,1645 ]

df = pd.DataFrame({'area' : area, 'price' : price})
df

   area  price
0    19    280
1    30    485
2    39    615
3    52    670
4    65    865
5    79   1080
6    92   1260
7   108   1645

In [2]:
'''
version détaillée :

def cov(x,y):
    # On cherche la moyenne
    mean_x = sum(x) / float(len(x))
    mean_y = sum(y) / float(len(y))

    sub_x = [i - mean_x for i in x]
    sub_y = [i - mean_y for i in y]

    sum_value = sum([sub_y[i]*sub_x[i] for i in range(len(x))])
    denom = float(len(x)-1)

    cov = sum_value/denom
    return cov
'''

def cov(x, y):
    return np.round(np.sum((x - x.mean()) * (y - y.mean()) / (x.count() - 1)), 6)

In [3]:
cov(df.area, df.price)

13767.142857

In [4]:
df.cov()

               area          price
area     971.142857   13767.142857
price  13767.142857  199678.571429

In [5]:
# Changement d'unité
area = [19,30,39,52,65,79,92,108]

area_cm2 = [ x * 10**4 for x in area ]
print(area_cm2)

df2 = pd.DataFrame({'area' : area_cm2, 'price' : price})

[190000, 300000, 390000, 520000, 650000, 790000, 920000, 1080000]

In [6]:
cov(df2.area, df2.price)

137671428.571429

In [7]:
def corr(x, y):
    return cov(x, y) / ( np.std(x) * np.std(y) )

In [8]:
corr(df2.area, df2.price)

1.1298699943947352

In [9]:
corr(df.area, df.price)

1.1298699943830073

In [10]:
np.cov(df.area, df.price, ddof=0) # ddof sans degré de liberté
# Matrice des covariances

array([[   849.75,  12046.25],
       [ 12046.25, 174718.75]])